<h2 class="govuk-heading-l">What you need to do</h2>

{% if data['receiveEvidence']=='Awaiting evidence' %}
<p>
  1.Check if the claimant has uploaded the evidence requested. <br><br>

Make sure it is readable. If it is readable, complete this task. <br><br>

If you cannot read the information <strong>request the evidence again</strong>. <br><br>

2.If the claimant has not provided the information <strong>suspend the claim</strong>.  
</p>      
{% elif data['receiveEvidence']=='Suspended the claim' %}
<p>
 1.Check if the claimant has uploaded the evidence requested. <br><br>

Make sure it is readable. If it is readable, <strong>lift the suspension</strong> and complete this task. <br><br>

If you cannot read the information <strong>request the evidence again</strong>. <br><br>

2.If the claimant has not provided the information <strong>close the claim</strong>. <br><br> 

</p>
{% elif data['receiveEvidence']=='Given more time' %}
<p>
1. Check if the claimant has uploaded the evidence requested. <br><br>

Make sure it is readable. If it is readable complete this task.  <br><br>

If you cannot read the information <strong>request the evidence again</strong>.  <br><br>

2. If the claimant does not have additional support needs and has not been in contact <strong>suspend the claim</strong>.  

</p>
{% else %}
      <p>
      1.Check if the claimant has uploaded the evidence requested. <br><br>

      Make sure it is readable. If it is readable complete this task. <br><br>

      2.If you cannot read the information <strong>request it again</strong>. <br><br>

      If the claimant has not provided the evidence, or been in contact check if they have any additional support needs (check the journal, history notes and additional support page). <br><br> 

      If they have additional support needs <strong>give them more time</strong> to provide the evidence. <br><br>

      3. If the claimant does not have additional support needs and has not been in contact  <strong>suspend the claim</strong>.  <br></br>

      You can close the claim at any time if the claimant asks us to. 
  </p>
  {% endif %}

      <h2 class="govuk-heading-l">Instructions</h2>

      <p>Read the relevant section below based on what you need to do next.</p>

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
              {% include "/v2/includes/accordion-content/_request-evidence-again.html" %}
              {% include "/v2/includes/accordion-content/_give-more-time.html" %}
              {% include "/v2/includes/accordion-content/_suspend-the-claim-failed-to-provide-evidence.html" %}
              {% include "/v2/includes/accordion-content/_close-the-claim" %}
    </div>