{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to dashboard",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Other actions
      </h1>

  <!-- Start table area -->
 {% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set due %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Name"
    },
    {
      text: "Outstanding activities"
    } ,
    {
      text: "Due"
    }
  ],
  rows: [
    [
      {
        text: "Florian Frimpong"
      },
      {
        html: '<a href="uploaded-information">Review uploaded information</a>'
      },
      {
        html: '12 July 2025'
      }
    ], [
      {
        text: "Aurlie Riba"
      },
      {
        html: '<a href="uploaded-information">Review uploaded information</a>'
      },
      {
        html: '16 July 2025'
      }
    ], [
      {
        text: "Kathlin Clewes"
      },
      {
        html: '<a href="uploaded-information">Review uploaded information</a>'
      },
      {
        html: '20 July 2025'
      }
    ]
  ]
}) }}


{% endset -%}

{% set overdue %}
<h2 class="govuk-heading-l">Overdue</h2>
<p class="text">There are no other actions overdue</p>
{% endset -%}

{{ govukTabs({
  items: [
    {
      label: "Due",
      id: "due",
      panel: {
        html: due
      }
    },
    {
      label: "Overdue",
      id: "overdue",
      panel: {
        html: overdue
      }
    }
  ]
}) }}

  <!-- Endtable area -->

    </div>
  </div>

{% endblock %}
