

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  
{% if data['receiveEvidence']=='Given more time'
   or data['receiveEvidence']=='Suspended the claim'
   or data['receiveEvidence']=='Awaiting evidence'
%}
{% else %}
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
         Give more time
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
     <h3 class="govuk-heading-s">Send journal message </h3>
<p>
a. Copy and paste the message below. <br>

b. Make sure you complete the [DATE] fields.
</p>

<div class="govuk-inset-text">
Self-employment income and expenses review<br><br>

On [DATE] we created a 'Claim Review: upload document' to-do. <br><br>

You failed to complete the to-do and provide the evidence requested. You have been given more time to complete it. <br><br>

You need to complete the to-do by [DATE] . <br><br>

If you do not complete the to-do your Universal Credit payment may be stopped, and your claim could be closed. <br><br>

Send us a journal message if you want to discuss the review or you need help with your to-do.<br><br>
</div>

<h3 class="govuk-heading-s">Add history note</h3>

<p>
  a. Copy and paste the message below. <br>

  b. Make sure you complete the [DATE ] field.
</p>

<div class="govuk-inset-text">

Self-employment income and expenses review<br><br>

The claimant failed to complete the 'Claim Review: upload document' to-do. They have been given more time to complete it.<br><br> 

The claimant needs to complete it by [DATE]. <br><br>

Note: Only an income and expenses review agent should lift the suspension, after the evidence requested has been received. <br><br>


</div>

    </div>
  </div>
  {% endif %}
    <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
         Request the evidence again
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content">
    
          <h3 class="govuk-heading-s">Create a new upload to-do</h3>
    <p class="govuk-body">

      1. Create a new "Claim review: Upload information" to-do, select Self employment from the type of upload
      section.<br><br>

      2. Copy and paste the following message into the Upload to-do.

    </p>


    <div class="govuk-inset-text">
      <strong>Self-employment income and expenses review</strong><br><br>

      We need some more evidence for your self-employed income and expenses for [START DATE OF ASSESSMENT PERIOD] to
      [END DATE OF ASSESSMENT PERIOD].<br><br>

      We have created a new "Claim review: Upload information" to-do for you to provide the following evidence:<br><br>

      [List the specific evidence you need]<br><br>

      You can only claim for expenses that you have evidence for. <br><br>

      If you do not complete the to-do and provide the evidence requested by [DATE] your Universal Credit payment may be
      stopped, and your claim could be closed.<br><br>

      Send us a journal message if you want to discuss the review or you need help with your to-do.<br><br>

    </div>

    <h3 class="govuk-heading-s">Send journal message</h3>
    <div class="govuk-inset-text">
      <strong>Self-employment income and expenses review</strong><br><br>

      We have created a new "Claim review: Upload information" to-do for you to complete.<br><br>

      The to-do includes instructions about the specific evidence we need. <br><br>

      If you do not complete the to-do and provide the evidence requested by [DATE] your Universal Credit payment may be
      stopped, and your claim could be closed.<br><br>

      Send us a journal message if you want to discuss the review or you need help with your to-do.<br><br>
    </div>


    <h3 class="govuk-heading-s">Add history note</h3>
    <div class="govuk-inset-text">
      <strong>Self-employment income and expenses review</strong><br><br>

      Claim suspended as the claimant failed to complete the "Claim review: Upload information" to-do.<br><br>

      They must complete it by [DATE] or their claim may be closed.<br><br>

      Note: Only an income and expenses review agent should lift the suspension, after the evidence requested has been
      received.

    </div>


    </div>
  </div>
{% if data['receiveEvidence']=='Suspended the claim' %}

    <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Lift the suspension
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content">
      <p class="govuk-body">

Select ‘Claim actions’ from the left hand menu.<br>
Select ‘Suspension’.<br>
Choose ‘No’ to the question ‘Should this claim be suspended?’<br>

      </p>
    </div>
  </div>


{% else %}
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Suspend the claim
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content">
  <h3 class="govuk-heading-s">Actions</h3>
    <p class="govuk-body">
    To suspend a claim:<br><br>

1. Select ’Claim actions’ from the left hand menu.<br>
2. Select ’Suspension’ from the options presented.<br>
3.Suspend the claimant’s account and select ’Claimant has not supplied evidence’.<br><br>

<a href="">Guidance on suspending a claim</a>    </p>

<h3 class="govuk-heading-m">Send journal message</h3>

<div class="govuk-inset-text">

Make sure you complete all  [  ] fields.<br><br>

Self-employment income and expenses review<br><br>

Your Universal Credit claim has been suspended.<br><br>

This is because you failed to complete the 'Claim Review: upload document' to-do. You must complete it by [DATE]. <br><br>

If you do not complete it by [DATE] your Universal Credit payment may be stopped, and your claim could be closed.<br><br>

Send us a journal message if you want to discuss the review or you need help with your to-do.

</div>

<h3 class="govuk-heading-m">Add history note</h3>

<div class="govuk-inset-text">
Self-employment income and expenses review<br><br>

Claim suspended as the claimant failed to complete the 'Claim Review: upload document' to-do.<br><br>

They must complete it by [DATE] or their claim may be closed.<br><br>

Note: Only an income and expenses review agent should lift the suspension, after the evidence requested has been received. <br><br>


</div>



    </div>
  </div>
  {% endif %}
  
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
         Close the claim
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content">
      <p class="govuk-body">
1. Remove yourself as supporting on the claim. <br>
2. Close the claim by selecting ‘Claim actions’ from the left hand menu.<br>
3. Select ‘Close claim’ and complete the checks.<br>
4. Select the appropriate reason for closing the claim. <br><br>

If the claimant fails to provide evidence or complete a to-do use ‘Failed to provide evidence’.  <br><br>

If the claimant asks us to close the claim use ‘Withdrew their claim’ <br><br>

Complete this task.</p>
    </div>
  </div>
</div>