      <h2 class="govuk-heading-m">Claimant details</h2>

      <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     Name 
    </dt>
    <dd class="govuk-summary-list__value">
      <a href="">Luis Endo</a>
    </dd>
  </div>
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     Actions 
    </dt>
    <dd class="govuk-summary-list__value">
      <a href="not-testing">Call the claimant</a><br><br>
       <a href="not-testing">Message the claimant</a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     Claim status
    </dt>
    <dd class="govuk-summary-list__value">
      <a href="">Active</a>
    </dd>
  </div>
</dl>

    <h2 class="govuk-heading-m">Review details</h2>

      <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Current stage
    </dt>
    <dd class="govuk-summary-list__value">
      {% include "v1/includes/_stages.html" %}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Assessment period under review
    </dt>
    <dd class="govuk-summary-list__value">
      <a href="">Income and expenses for [ASSESSMENT PERIOD] (opens in new tab)</a>
    </dd>
  </div>
</dl>