{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       Receive evidence
      </h1>

      {% include "./includes/_review-details.html" %}
<h2 class="govuk-heading-l">What you need to do</h2>

{% if data['receiveEvidence']=='Awaiting evidence' %}
<p>
  1.Check if the claimant has uploaded the evidence requested. <br><br>

Make sure it is readable. If it is readable, complete this task. <br><br>

If you cannot read the information <strong>request the evidence again</strong>. <br><br>

2.If the claimant has not provided the information <strong>suspend the claim</strong>.  
</p>      
{% elif data['receiveEvidence']=='Suspended the claim' %}
<p>
 1.Check if the claimant has uploaded the evidence requested. <br><br>

Make sure it is readable. If it is readable, <strong>lift the suspension</strong> and complete this task. <br><br>

If you cannot read the information <strong>request the evidence again</strong>. <br><br>

2.If the claimant has not provided the information <strong>close the claim</strong>. <br><br> 

</p>
{% elif data['receiveEvidence']=='Given more time' %}
<p>
1. Check if the claimant has uploaded the evidence requested. <br><br>

Make sure it is readable. If it is readable complete this task.  <br><br>

If you cannot read the information <strong>request the evidence again</strong>.  <br><br>

2. If the claimant does not have additional support needs and has not been in contact <strong>suspend the claim</strong>.  

</p>
{% else %}
      <p>
      1.Check if the claimant has uploaded the evidence requested. <br><br>

      Make sure it is readable. If it is readable complete this task. <br><br>

      2.If you cannot read the information <strong>request it again</strong>. <br><br>

      If the claimant has not provided the evidence, or been in contact check if they have any additional support needs (check the journal, history notes and additional support page). <br><br> 

      If they have additional support needs <strong>give them more time</strong> to provide the evidence. <br><br>

      3. If the claimant does not have additional support needs and has not been in contact  <strong>suspend the claim</strong>.  <br></br>

      You can close the claim at any time if the claimant asks us to. 
  </p>
  {% endif %}

      <h2 class="govuk-heading-l">Instructions</h2>

 {% include "./includes/_receive-actions-accordion.html" %}

<form class="form" action="tasklist" method="post">
  {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "receiveEvidence",
  fieldset: {
    legend: {
      text: "What have you done?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Given more time",
      text: "Given more time"
    },
    {
      value: "Suspended the claim",
      text: "Suspended the claim"
    },
    {
      value: "Awaiting evidence",
      text: "Requested evidence"
    },
    {
      value: "Completed this task",
      text: "Completed this task"
    }
  ]
}) }}

<button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
</form>

    </div>
  </div>




{% endblock %}
