{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Request initial evidence
      </h1>

      {% include "./includes/_review-details.html" %}

     <h2 class="govuk-heading-l">Check if the claim is in scope</h2>
<p>
The self-employment income and expenses review is out of scope if any of the following apply:
 </p>
 <ul class="govuk-list govuk-list--bullet">
  <li>Counter Fraud Compliance and Debt (CFCD) criminal investigations</li>
  <li>terminal illness with DS1500 or SR1 form received</li>
  <li>Corporate Acting Body (CAB) in place</li>
  <li>Welsh language speaker, unless you are a Bangor-based agent</li>
  <li>Claim review already in progress or been completed for self-employment</li>
  <li>claimant lives in Northern Ireland (NI), unless you are an NI agent</li>
  <li>claimant has a 'Move to Universal Credit' banner on their account</li>
  <li>claimant is detained in prison</li>
  <li>claimant has a Fit note and has reported nil income and nil expenses</li>
  <li>bereavement of a child or partner</li>
  <li>an open end date on either a FRAIMS or CFEMS interest</li>
  <li>this is a phone claim</li>
  <li>the claim is closed</li>
  <li>another reason (following a case conference with your team leader)</li>

</ul>



 <h3 class="govuk-heading-m">Review is in scope</h3>
 <p>You need use the Instructions and actions section to add yourself as supporting, add a pinned note and request evidence.</p>

 <h3 class="govuk-heading-m">Review is out of scope</h3>
  <p>You will need to complete the record outcome section and complete this review</p>

<h2 class="govuk-heading-l">Instructions</h2>

      {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "Add yourself as supporting and add a pinned note"
      },
      content: {
        html: '
        
        
<h3 class="govuk-heading-m">Action</h3>
<p class="govuk-body">Add yourself as supporting the claim</p>

        
<h3 class="govuk-heading-m">Add pinned note</h3>
    <div class="govuk-inset-text">

          <p class="govuk-body">Self-employment income and expenses review</p>

          <p class="govuk-body">The ‘Income and expenses review team’ are checking this claimant’s income and expenses. </p>

          <p class="govuk-body">If a claimant has a query: </p>

          <p class="govuk-body">DWP staff should send an email to: incomeandexpenses.reviewteam@dwp.gov.uk</p>
           
          <p class="govuk-body">Telephony agents should ask the claimant to send a journal message. </p>

        <p class="govuk-body">
      Please do not action any under or overpayment to-do’s generated as a result of this income and expenses review. This will be completed by the ‘Income and expenses review team’.</p>
          
    <p class="govuk-body">
Do not unpin this note. 
    </p>
    
    </div>

   
            
        '
      }
    },
    {
      heading: {
        text: "Request evidence"
      },
      content: {
        html: '
        
        <h3 class="govuk-heading-m">Request self-employment evidence</h3>
        <p class="govuk-body">
          1. Create the "Upload information to support your Universal Credit claim" to-do for the claimant.
          <br><br>
          2. Copy and paste the message below into the to-do.
         <br><br>
         Make sure you complete all  [  ] fields.
        </p>

        <div class="govuk-inset-text">
          Self-employment income and expenses review
       <br><br>
You need to upload evidence of your self-employed income and expenses for [START DATE OF ASSESSMENT PERIOD] to [END DATE OF ASSESSMENT PERIOD]. 
       <br><br>
You need to provide:
       <br><br>
- full statements for all your personal or business bank accounts, credit cards and PayPal accounts. These should include your full name, address and cover the whole assessment period
       <br><br>
- all your joint account statements, if you are in a joint claim
       <br><br>
- any receipts, invoices or other evidence you have for any income or expenses 
       <br><br>
- any income from trading that is held on online platforms. For example, income earned in your eBay or Vinted wallet
       <br><br>
If you cannot provide all the evidence for the income and expenses you have reported, or the evidence does not exist, you should upload the evidence you do have.
       <br><br>
You should also complete the "Comments" box and tell us about the evidence you cannot provide and why. We will review the evidence provided and will contact you if we need anything else.
       <br><br>
If you do not complete this to-do by [DATE] your Universal Credit payment may be stopped, and your claim could be closed.
       <br><br>
Uploading explicit or indecent images, racist, offensive or threatening content could lead to legal action.
       <br><br>
Send us a journal message if you want to discuss the review or you need help with your to-dos.
        </div>

    <h3 class="govuk-heading-m">Send journal message</h3> 
     <p>Make sure you complete all [ ] fields.</p>      

   <div class="govuk-inset-text">
      Self-employment income and expenses review
   <br><br>
      We are reviewing your reported income and expenses for [START DATE OF ASSESSMENT PERIOD] to [END DATE OF ASSESSMENT PERIOD]. 
   <br><br>
    We have created  an "Upload information to support your Universal Credit claim" to-do so you can upload your evidence. The to-do contains specific instructions about what you need to provide. 
   <br><br>
    If you do not complete the to-do and provide the evidence requested by [DATE] your Universal Credit payment may be stopped, and your claim could be closed.
   <br><br>
    Send us a journal message if you want to discuss the review or you need help with your to-do.
   </div> 


    <h3 class="govuk-heading-m">Add history note</h3> 
     <p>Make sure you complete all [ ] fields.</p>      

   <div class="govuk-inset-text">
        Make sure you complete the [DATE] field.
   <br><br>
        Self-employment income and expenses review
   <br><br>
        The "Upload information to support your Universal Credit claim" to-do has been created for the claimant to provide their self-employment evidence. 
   <br><br>
        The claimant needs to complete it by [DATE]. 
   </div> 
 
        '
      }
    }
  ]
}) }}






<form class="form" action="tasklist" method="post">
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "scope",
  fieldset: {
    legend: {
      text: "Is the claim in scope?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

<button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
</form>
    </div>
  </div>

{% endblock %}
