{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

  </div>

  <div class="govuk-grid-column-full">
 
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      MVP
    </h2>
  </div>
   <div class="govuk-summary-card__content">
   <p class="govuk-body">
  Prototype <a href="/v1/team-leader-dashboard" class="govuk-link">V1</a>.
</p>
   </div>
 
  </div>
</div>

{% endblock %}
