{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

  </div>

  <div class="govuk-grid-column-full">
 
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      MVP
    </h2>
  </div>
   <div class="govuk-summary-card__content">
    <h2 class="govuk-heading-s">Version 1</h2>
    <p>This prototype includes:<br><br>
      • agent dashboard<br>
      • review landing page(tasklist)<br>
      • request initial evidence<br>
      • review evidence <br>
      • record outcome<br>
    </p>
   <p class="govuk-body">
 <a href="/v1/agent-dashboard" class="govuk-link">View prototype</a>.
</p>
   </div>
 
  </div>
</div>

{% endblock %}
